# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/

# Instance folder DBs (keep folder, ignore database files)
instance/*.sqlite3
instance/*.db

# Project database
db.sqlite3

# Environment files
.env
.env.*

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Logs
.log
